
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Page</title>
    </head>
    <body>
        <h1>Event Message websocket stream pushed by backend proto</h1>
        <ul id="EventMessagePresenetationElement"></ul>

        <script src="~/js/stream.js"></script>
    </body>
</html>
